[Desktop Entry]
Type=Application
Name=Nitro Control
Comment=Acer Nitro fan, turbo levels and keyboard RGB control
Exec=nitro-control
Icon=utilities-system-monitor
Terminal=false
NoDisplay=true
Categories=System;Utility;
StartupWMClass=nitro-control
